ErrorDocument 404 https://kus.edu.bd/404.php

RewriteEngine on

RewriteRule ^Home index.php [NE,L]

RewriteRule ^About-Institution about_institution.php [NE,L]

RewriteRule ^Aim aim.php [NE,L]

RewriteRule ^History history.php [NE,L]

RewriteRule ^Structure structure.php [NE,L]

RewriteRule ^Yearly_Plan yearly_plan.php [NE,L]

RewriteRule ^Headmaster-Introduction introduction_headmaster.php [NE,L]

RewriteRule ^Board-Member board_member_list.php [NE,L]

RewriteRule ^Teachers teachers.php [NE,L]

RewriteRule ^Chairman_List chairman_list.php [NE,L]

RewriteRule ^Headmaster_List headmaster_list.php [NE,L]

RewriteRule ^Staffs staff_list.php [NE,L]

RewriteRule ^Complain complain.php [NE,L]

RewriteRule ^Sports sports.php [NE,L]