body{
    margin: 0;
    padding: 0;
}


.heading{
    font-size: 1.75rem;
}


nav{
    background-color: #00afef;
    box-shadow: 0px 7px 4px 0px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0px 7px 4px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 7px 4px 0px rgba(0,0,0,0.2);
}

.nav-item a{
    color: white;
}

.nav-item a:hover{
    color: #f5831a;
}

.dropdown-item{
    color: black !important;
}

.dropdown-item:hover{
    color: #f5831a !important;
}

.nav-link.show{
    color: #f5831a !important;
}
.marquee-slider{
    color: #00afef;
    text-decoration: none;
}

.marquee-slider:hover{
    color: #f5831a;
    text-decoration: none;
}

.footer-link:hover{
    color: #00afef;
    text-decoration: none;
}

.footer-link{
    color: #f5831a;
    text-decoration: none;
}

.footer-link-left{
    color: #000000;
    font-weight: bold;
    text-decoration: none;
}

.footer-link-left:hover{
    color: #000000;
    font-weight: bold;
    text-decoration: none;
}

.logo{
    height: 100px;
    width: auto;
}

.header-badge{
    padding: 20px 40px;
    background-color: #ffffff;
}

.header-right{
    display: inline-block;
    margin-right: 15px;
    font-weight: 700;
    font-size: 17px;
}

.member-name{
    font-size: 20px;
}

.member-description{
    color: black;
}

.about-institution{
    font-weight: 700;
    color: #f5831a;
    margin-bottom: 1.5rem;
}

.notice-header{
    background-color: #f5831a;
}

.details-button{
    background-color: #f5831a;
    color: white;
}

.details-button:hover{
    background-color: #00afef;
    color: white;
    text-decoration: none;
}

.uk-slider-container-offset{
    margin: 0 !important;
}

.start-time{
    font-size: 25px;
}

ul {
    padding: 1rem;
    display: flex;
    list-style: none;
    justify-content: space-around;
    flex-wrap: wrap;
}

.gallery img{
    padding: 20px 10px;
}

.gallery img:hover {
    box-shadow: none;
    transform: scale(1.1);
}

.uk-form-label{
    font-size: 18px !important;
}
.uk-card-default .uk-card-title{
    font-size: 20px;
    font-weight: bold;
}