ErrorDocument 404 https://kus.edu.bd/404.php

RewriteEngine on

RewriteRule ^Register register.php [NE,L]
RewriteRule ^Login login.php [NE,L]
RewriteRule ^Insert insert.php [NE,L]
RewriteRule ^Update update.php [NE,L]
RewriteRule ^Delete delete.php [NE,L]
RewriteRule ^Dashboard index.php [NE,L]
RewriteRule ^Account_Approval account_approval.php [NE,L]
RewriteRule ^Admin_Profile profile.php [NE,L]
RewriteRule ^Edit_Profile edit_profile.php [NE,L]
RewriteRule ^About_Institution about_institution.php [NE,L]
RewriteRule ^Aim aim.php [NE,L]
RewriteRule ^History history.php [NE,L]
RewriteRule ^Structure structure.php [NE,L]
RewriteRule ^Year_Plan year_plan.php [NE,L]
RewriteRule ^Governing_Body governing_body.php [NE,L]
RewriteRule ^Edit_Governing_body edit_governing_body.php [NE,L]
RewriteRule ^Chairman-List cahirman_list.php [NE,L]
RewriteRule ^Edit_Chairman_List edit_cahirman_list.php [NE,L]
RewriteRule ^Headmaster_List headmaster_list.php [NE,L]
RewriteRule ^Edit_Headmaster_List edit_headmaster_list.php [NE,L]
RewriteRule ^Staffs stuffs.php [NE,L]
RewriteRule ^Edit_Staffs edit_stuffs.php [NE,L]
RewriteRule ^Complains complain_list.php [NE,L]
RewriteRule ^Activity activity_log.php [NE,L]
RewriteRule ^Extracurricular extracurricular.php [NE,L]
RewriteRule ^Edit_Extracurricular edit_extracurricular.php [NE,L]
RewriteRule ^Admission admission.php [NE,L]




RewriteRule ^Logout logout.php [NE,L]
